@model  HmsService.ViewModels.ProductItemEditViewModel

@{
    var currentStore = HmsService.Models.Utils.GetStore();
    var storeId = currentStore?.ID;
    var storeName = currentStore?.ShortName;
    ViewBag.Title = "Chỉnh Sửa Nguyên Liệu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Chỉnh sửa nguyên liệu</h3>
            </div>
            <div class="col-md-6 text-right">
                <a id="btn-comeback" href="@Url.Action("Index")" class="btn btn-success">Quay lại</a>
                <button id="btn-submit" type="button" class="btn btn-primary" onclick="EditItem()">Hoàn tất</button>
            </div>
        </div>
        <hr />
    </div>
    @this.Html.Partial("Editor", this.Model)
</div>

<script type="text/javascript">
    @*$(document).ready(function () {
        //upload image with elfinder
        $('.getimagefromelfinder').on('click', function () {
            //get id
            var id = $(this).parent().find('input')[0].id;
            // set id to controller
            window.open('/Admin/@storeId/@storeName/File/GetImageFromElfinder?elementId=' + id + '', 'GetImageFromElfinder', 'height=' + (window.screen.height - 100));
        });
    });*@
    function checkDigit(str) {
        var check = /^-?$|^-?\d+$/.test(str);
        if (!check) {
            return "";
        }
        return str;
    }
    $(document).ready(function () {
        $('#btn-comeback').fixedScroll(70);
        $('#btn-submit').fixedScroll(70);
        rendertable();
    });
    providerList = [];
    function rendertable(){
        $('#providerListTable').dataTable({
            "dom": '',
            "oLanguage": {
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý..."
            },
            "sAjaxSource": "@Url.Action("GetCurrentProviderItem","Provider", new { area = "Inventory" })",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "itemId", "value": @Model.ItemID });
            },
            "aoColumnDefs": [
               {
                   "aTargets": [0],
                   "sClass": "text-center"
               },
            ],

            "columns": [
                { "data": "No", "bSortable": false },
                { "data": "Name", "bSortable": false },
                { "data": function(o){
                    return "<div  style='text-align:center'><button type='button' class='btn btn-danger btn-sm glyphicon glyphicon-trash' onclick=confirmRemoving(" + o.ProviderProductItemId + ")"
                        + "></button></div>";
                }, "bSortable": false
                }
            ],
        });
    }

    function confirmRemoving(ProviderProductItemId) {

        $.ajax({
            url: '@Url.Action("RemoveProviderProductItem","Provider", new { area = "Inventory" })',
            type: 'POST',
            data: {
                'id' : ProviderProductItemId,
            },
            dataType: 'json',
            success: function (result) {
                if (result.success) {
                    RefreshTable();
                    ShowMessage("Xóa thành công", 2);

                } else {
                    ShowMessage("Có lỗi xẩy ra, vui lòng thử lại", 1);
                }
            },
            error: function () {
                ShowMessage("Có lỗi xẩy ra, vui lòng thử lại", 1);
            }
        })
    }

    $('#addProviderModal').on('click',function(){
        var option = $('#providerListModal option:selected')[0];
        if (option != null) {
            //console.log(option.value);
            var providerId = option.value;
            $.ajax({
                url: '@Url.Action("CreateProviderProductItem","Provider",new { area = "Inventory"})',
                type: 'POST',
                data: {
                    'ProviderId': providerId,
                    'ProductItemId': @Model.ItemID,
                },
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        RefreshTable();
                        ShowMessage("Thêm thành công", 2);
                    } else {
                        ShowMessage(result.message, 1);
                    }
                },
                error: function () {
                    ShowMessage("Có lỗi xẩy ra, vui lòng thử lại", 1);
                }
            });
        }

    });

    function RefreshTable() {
        var oTable = $("#providerListTable").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();
    };

    $(document).ready(function () {
        $.ajax({
            url: '@this.Url.Action("GetProvidersByBrand")',
            type: 'GET',
            data: {

            },
            dataType: 'json',
            success: function (result) {
                //console.log(result.data);
                $('#providerList option').remove();
                if (result.data) {
                    $.each(result.data, function (i, provider) {
                        $("#providerListModal").append($("<option>", {
                            value: provider.Id,
                            text: provider.Name,
                        }));
                    });
                    //if ($("#item-categories").find('option').length) {
                    //    $("#item-categories").trigger('change');
                    //}
                }
            },
            error: function () {
                ShowMessage('Có lỗi xẩy ra, vui lòng thử lại');
            }
        });

    });

    function EditItem() {
        if ($("input[name='ItemName']").val() == "") {
            ShowMessage("Tên nguyên liệu không được bỏ trống", 3);
            return;
        }

        var type = $("input[name='Unit']").val();
        if (type == "") {
            ShowMessage("Vui lòng nhập đơn vị.", 3);
            return;
        }

        if ($("input[name='Unit2']").val() != "") {

            if ($("input[name='UnitRate']").val() == "") {
                $("input[name='UnitRate']").attr("required", true);
                ShowMessage("Vui lòng nhập tỉ lệ qui đổi.", 3);
                $("input[name='UnitRate']").focus();
                return;
            }
        } else if ($("input[name='Unit2']").val() == "") {
            if ($("input[name='UnitRate']").val() != "") {
                $("input[name='UnitRate']").attr("required", true);
                ShowMessage("Vui lòng nhập đơn vị 2.", 3);
                $("input[name='Unit2']").focus();
                return;
            }
        }

        if ($("input[name='ItemCode']").val() == "") {
            ShowMessage("Vui lòng nhập mã nguyên liệu.", 3);
            return;
        }
        if (parseInt($("select[name='ProductItemType']").val()) == 0) {
            ShowMessage("Vui lòng chọn kiểu nguyên liệu.", 3);
            return;
        }
        if ($("input[name='Price']").val() == "") {
            ShowMessage("Vui lòng nhập giá.", 3);
            return;
        }
        if ($("input[name='Price']").val() <= 0) {
            ShowMessage("Giá nguyên liệu không âm", 3);
            return;
        }
        if ($("input[name='UnitRate']").val() < 0) {
            ShowMessage("Tỉ giá không âm", 3);
            return;
        }
        if ($("input[name='IndexPriority']").val() == "") {
            ShowMessage("Vui lòng nhập độ ưu tiên.", 3);
            return;
        }
        //if (providerList.length < 1) {
        //    ShowMessage("Vui lòng thêm nhà cung cấp.", 3);
        //    return;
        //}

        $.ajax({
            url: '@Url.Action("checkItemCodeEdit")',
            method: 'POST',
            data: { originCode : $("#originCode").val(), insertCode: $("#ItemCode").val() },
            success: function (result) {
                if(result.success){
                    $.ajax({
                        url: '@Url.Action("GetProviderProductItem","Provider",new { area = "Inventory"})',
                        type: 'GET',
                        data: {
                            'productItemId': @Model.ItemID,
                        },
                        dataType: 'json',
                        success: function (result) {
                            //console.log(result.success);
                            if (result.success == false) {
                                ShowMessage("Vui lòng thêm nhà cung cấp.", 3);
                                return;
                            }
                            else
                            {
                                var formData = $('#editProductItemForm').serialize();
                                $.ajax({
                                    url: "@Url.Action("Edit")",
                                    type: "POST",
                                    data: formData,
                                    success: function (result) {
                                        if (result) {
                                            ShowAlert("Cập nhật nguyên liệu thành công", 2, '@Url.Action("Index")');
                                            RefreshTable();

                                        } else {
                                            ShowMessage("Cập nhật nguyên liệu thất bại", 1);
                                        }


                                    }
                                });
                            }
                        },
                        error: function () {
                            ShowMessage('Có lỗi xẩy ra, vui lòng thử lại');
                            return;
                        }
                    });
                }else{
                    ShowMessage("Mã nguyên liệu đã tồn tại",3);
                    return;
                }
            },
            error: function(error){
                ShowMessage("Đã có lỗi xảy ra, vui lòng kiểm tra lại",3);
                return;
            }
        });


        //var itemName = document.getElementById("ItemName").value;
        //if (itemName.trim() == "") {
        //    ShowMessage("Vui lòng nhập tên nguyên liệu", 3);
        //    return;
        //}

        //var itemUnit = document.getElementById("Unit").value;

        //var itemPrice = document.getElementById("Price").value;


        //if (itemUnit.trim() == "") {
        //    ShowMessage("Vui lòng nhập đơn vị", 3);
        //    return;
        //}

        //if (itemPrice.trim() == "") {
        //    ShowMessage("Vui lòng nhập giá", 3);
        //    return;
        //}

    }

    function sendFile(file) {

        var formData = new FormData();
        formData.append('file', $('#uploadImage')[0].files[0]);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "File")',
            data: formData,
            success: function (result) {
                if (result.success) {
                    $("#avatar-preview").html("");
                    var htmlInnerData = '<li class="col-md-4 photo-item removeable img-vpos">' +
                        '<div class="ratio-wrapper ratio-wrapper-1-1">' +
                        '<div class="ratio-item"><div class="img-container"><img id="imgName" src="' + result.imageUrl + '"/></div>' +
                    '<input id="imgValue" type="hidden" name="SelectedImage" value="' + result.imageUrl + '"/>'
                    + '<span class="btn-remove" onclick="delImg()"><i class="glyphicon glyphicon-remove"></i></span>' +
                                    '</div></div></li>';

                    $("#avatar-preview").append(htmlInnerData);
                }
            },
            processData: false,
            contentType: false,
            error: function () {
                ShowMessage("Có lỗi xảy ra!", 1);
            }
        });
    }

    $("#btnUploadImage").on('click', function () {
        $('#uploadImage').click();
    });

    $("#uploadImage").on('change', function () {
        var file, img;
        file = this.files[0];

        if (file.type != "image/gif" && file.type != "image/png" && file.type != "image/jpeg") {
            ShowMessage("Sai định dạng hình, xin hãy chọn hình .png, .jpg hoặc .gif", 3);
            return;
        }

        if (file) {
            img = new Image();
            img.onload = function () {
                sendFile(file);
            };
            img.onerror = function () {
                ShowMessage("Not a valid file:" + file.type, 1);
            };
            var _URL = window.URL || window.webkitURL;
            img.src = _URL.createObjectURL(file);
        }
    });
</script>
