@model HmsService.ViewModels.MembershipTypeViewModel

@{
    ViewBag.Title = "Cập nhật loại thẻ thành viên";

}
<form id="editType" action="@this.Url.Action("Edit")" method="POST">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4><strong>Cập nhật loại thẻ thành viên</strong></h4>
    </div>
    @Html.HiddenFor(q => q.Id, new { @type = "hidden" })
    @Html.HiddenFor(q => q.Active, new { @type = "hidden" })    
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="TypeName">
                    Loại thẻ thành viên
                </label>
                <div class="col-sm-8" tabindex="-1">
                    @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TypeName, "", new { @style = "color:red;font-size: 125%;padding-top: 0.5em;" })
                </div>
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="return validate(this)" class="btn btn-primary">Hoàn tất</button>
    </div>
</form>
<script>
    function validate(btn) {
        if ($("input[name='TypeName']").val() == "") {
            ShowMessage("Vui lòng nhập loại thẻ thành viên.", 3);
        } else {
            var rs = document.getElementById("TypeName").value;
            $.ajax({
                "type": "post",
                "url": "@(Url.Action("ValidateType", "MembershipType"))",
                "data": {
                name: rs
                },
            success: function (result) {
                if (result == "duplicated") {
                    ShowMessage("Loại thẻ này đã tồn tại!", 3);
                } else {
                    $("#editType").submit();
                    ShowMessage('Cập nhật loại thẻ thành viên thành công', 2, '@Url.Action("Index")');
                }
            }
        });
    }
    }
    $("#editType").submit(function (e) {
        $("#editType").unbind('submit').submit();
        ShowMessage('Cập nhật loại thẻ thành viên thành công', 2, '@Url.Action("Index")');
    });
</script>