@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .pair-group.btn,
    .variant-group.btn {
        font-weight: 500 !important;
        padding-left: 13px !important;
    }

    .col-md-4 {
        padding-top: 10px;
    }

    .width-100 {
        width: 100%;
    }

    .select2-container.select2-choice {
        display: block;
        height: 35px;
        padding: 0 0 0 8px;
        overflow: hidden;
        position: relative;
        border: 1px solid #e0e0e0 !important;
        white-space: nowrap;
        line-height: 35px;
        color: #444;
        text-decoration: none;
        border-radius: 0px;
        user-select: none;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #fff));
    }

    .select2-arrow {
        opacity: 1;
    }

    .select2-container.select2-choice.select2-arrow {
        display: inline-block;
        width: 18px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 3px;
        border-left: 0px;
        border-radius: 0px;
        background-clip: padding-box;
        /* background: #ccc; */
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #fff));
        background-image: -webkit-linear-gradient(center bottom, #fff 0%, #fff 60%);
        /*background-image: -moz-linear-gradient(center bottom, #fff 0%, #fff 60%);*/
    }

    .daterangepicker {
        margin-top: initial !important;
    }
</style>
<div class="card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="margin-bottom30">Phân công nhân viên</h3>
                </div>
            </div>
            <hr />
        </div>
        <div class="card-padding">
            <div class="row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="allcust">
                        <!-- Datatable -->
                        <div class="col-md-12">
                            <input type="hidden" id="enrollnumber" />
                            <div id="datatable" style="padding-top:5px; overflow-x: scroll;">
                                <table id="item-type-table-timeframe" class="table table-hover dataTable table-bordered dt-responsive nowrap" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th><label>STT</label></th>
                                            <th><label>Khung giờ</label></th>
                                            <th><label>Thời gian bắt đầu</label></th>
                                            <th><label>Thời gian kết thúc</label></th>
                                            <th><label>Thời lượng</label></th>
                                            <th><label>Tùy chọn</label></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Model container-->
    <div id="create-modal-container">
        <div class="modal" id="create-edit-timeFrame-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="Title_Create_Edit">Thêm nhân viên vào khung giờ</h4>
                        </div>
                        <div class="modal-body col-md-12">
                            <div class="col-md-12 p-0">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Giờ bắt đầu</label>
                                        <div class="col-sm-8">
                                            <input  type="text" class="form-control" id="TimeFrameStart" name="TimeFrameStart" placeholder="Giờ bắt đầu ca">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Giờ Kết thúc</label>
                                        <div class="col-sm-8">
                                            <input  type="text" class="form-control" id="TimeFrameEnd" name="TimeFrameEnd" placeholder="Giờ kết thúc ca" onchange="SetDuration()">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Thời gian trễ</label>
                                        <div class="col-sm-8">
                                            <input  type="text" class="form-control" id="TimeFrameDuration" name="TimeFrameDuration" placeholder="Thời lượng làm việc" onchange="SetEnd()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ngày Bắt Đầu</label>
                                        <div class="col-sm-8">
                                            <div class="input-group date col-sm-12" id="datetimepicker_Start">
                                                <input id="TimeFrameDateOfStart" type="text" class="input-group-addon form-control"  onchange="changeInfor()" style="text-align:left" />
                                                <span class="input-group-addon myCerlenderSpan p-r-45">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ngày kết thúc</label>
                                        <div class="col-sm-8">
                                            <div class="input-group date col-sm-12" id="datetimepicker_End">
                                                <input id="TimeFrameDateOfEnd" type="text" class="input-group-addon form-control" onchange="changeInfor()" style="text-align:left" />
                                                <span class="input-group-addon myCerlenderSpan p-r-45">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="col-md-4 control-label p-t-10">Cửa hàng</span>
                                        <div class="col-md-8">
                                            <select data-live-search="true" data-size="7" onchange="changeInfor()" class="form-control selectpicker" name="storeIdAdd" id="storeIdAdd">
                                                <option value="-1">Chọn cửa hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-0">
                                <button class="btn btn-success" type="button" id="loadListEmployee" >Tải danh sách nhân viên</button>
                            </div>
                            <div class="col-md-12 p-0" id="table_employee">
                                <div class="checkbox p-b-10"><label>Chọn tất cả nhân viên<input type="checkbox" id="CheckAll" /><i class="input-helper"></i></label></div>
                                <div id="datatable" ; overflow-x scroll;">
                                    <table id="item-type-table" class="table table-hover dataTable table-bordered dt-responsive nowrap" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th><label>STT</label></th>
                                                <th><label>Tên nhân viên</label></th>
                                                <th><label>Số điện thoại</label></th>
                                                <th><label>Chọn</label></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                            <button type="button" id="btnAction" onclick="createAttendance()" class="btn btn-success btn-sm pull-right">(Thêm mới - Hoàn Tất)</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
@section scripts {
    <script>
        // --- Load datatable
        $(document).ready(function () {

            loadTimeFrame();
            getListStore();
            $('#storeIdAdd').val(-1);
            document.getElementById("btnAction").disabled = true;
            $('#datetimepicker_End').datetimepicker({
                format: 'DD/MM/YYYY',
                defaultDate: moment(),
            });
            $('#datetimepicker_Start').datetimepicker({
                format: 'DD/MM/YYYY',
                defaultDate: moment(),
            });

            $('#TimeFrameDuration').datetimepicker({
                format: 'HH:mm',
                ignoreReadonly: true,
                toolbarPlacement: 'bottom'
            });
            $('#TimeFrameStart').datetimepicker({
                format: 'HH:mm',
                ignoreReadonly: true,
                toolbarPlacement: 'bottom'
            });
            $('#TimeFrameEnd').datetimepicker({
                format: 'HH:mm',
                ignoreReadonly: true,
                toolbarPlacement: 'bottom'
            });

          
        });
        
        function changeInfor() {
            $("#table_employee").css('display', 'none');
            document.getElementById("btnAction").disabled = true;
        }

        function loadTimeFrame() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListTimeFrame", "AttendanceBrand")',

                success: function (result) {
                    initTimeFrameDatatable(result.datatable);
                }
            });
        }

        function initTimeFrameDatatable(data) {
            $("#item-type-table-timeframe").dataTable().fnDestroy();
            $("#item-type-table-timeframe").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Nhân viên",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 1, 2, 3, 4, 5],
                        "sClass": "text-center",
                        "bSortable": false
                    },
                    {
                        "aTargets": [5],
                        "mRender": function (data, type, row) {
                            var detail = "<a title='Thêm nhân viên'class='btn btn-sm btn-success' onclick='ShowShiftModal(" + data + ")'><i class='glyphicon glyphicon-eye-open'></i></a>";
                            return detail;
                        },
                    }
                ],
                "bAutoWidth": false,
            });
        }

        function ShowShiftModal(data) {
            $("#table_employee").css('display', 'none');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("detailsTimeFrame")',
                data: {
                    Id: data
                },
                success: function (result) {
                    $('#create-edit-timeFrame-modal').modal('show');
                    $('#NameTimeFrame').val(result.Name);
                    $('#TimeFrameStart').val(result.StartTime);
                    $('#TimeFrameEnd').val(result.EndTime);
                    $('#TimeFrameDuration').val(result.Duration);
                },
                error: function (error) {
                    ShowAlert("Có lỗi xảy ra, vui lòng thử lại", 1);
                }
            });
        }


        $("#loadListEmployee").on("click", function () {
            $("#table_employee").css('display', 'none');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllEmployeeToAdd", "AttendanceBrand")',
                data: {
                    shiftMin: $('#TimeFrameStart').val(),
                    shiftMax: $('#TimeFrameEnd').val(),
                    endTime: $('#TimeFrameDateOfEnd').val(),
                    startTime: $('#TimeFrameDateOfStart').val(),
                    storeIdAdd: $('#storeIdAdd').val(),
                    empGroupId : 0
                },
                success: function (result) {
                    initEmployeeDatatable(result.datatable);
                    $("#table_employee").css('display', 'block');
                    document.getElementById("btnAction").disabled = false;
                }
            });
        });

        function initEmployeeDatatable(data) {
            $("#item-type-table").dataTable().fnDestroy();
            $("#item-type-table").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "Tìm Nhân Viên",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 2, 3],
                        "sClass": "text-center",
                        "bSortable": false,
                    },
                    {
                        "aTargets": [3],
                        "mRender": function (data, type, row) {
                            var checkEmployee = " <div class='checkbox'>" +
                                "<label>" +
                                "<input type='checkbox' value='" + data + "' name='EmpID'/>" +
                                "<i class='input-helper'></i>" +
                                "</label>" +
                                "</div>";

                            return " " + checkEmployee;
                        },
                    }
                ],
                "bAutoWidth": false,
            });
        }

        $("#CheckAll").change(function () {
            var allPages = $("#item-type-table").dataTable().fnGetNodes();

            if ($("#CheckAll").is(':checked')) {
                $('input[type="checkbox"]', allPages).prop('checked', true);
            } else {
                $('input[type="checkbox"]', allPages).prop('checked', false);
            }
        });

        function createAttendance() {
            var allPages = $("#item-type-table").dataTable().fnGetNodes();
            var yourArray = new Array();
            $('input[type="checkbox"]:checked', allPages).each(function () {
                var tr = $(this).closest('tr');
                var rowData = $("#item-type-table").dataTable().fnGetData(tr);
                yourArray.push(rowData[3]);
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateMoreAttendanceAction")',
                data: {
                    empIdList: yourArray,
                    shiftMin: $('#TimeFrameStart').val(),
                    shiftMax: $('#TimeFrameEnd').val(),
                    duration: $('#TimeFrameDuration').val(),
                    endTime: $('#TimeFrameDateOfEnd').val(),
                    startTime: $('#TimeFrameDateOfStart').val(),
                    storeIdAdd: $('#storeIdAdd').val(),
                },
                success: function (result) {
                    if (result == true) {
                        ShowAlert("Thêm thành công", 2);
                        $('#create-edit-timeFrame-modal').modal('hide');
                        window.location.replace("@Url.Action("Index", "AttendanceBrand")");
                    } else {
                        ShowAlert("Có lỗi xảy ra, vui lòng thử lại", 1);
                    }
                },
                error: function (error) {
                    ShowAlert("Có lỗi xảy ra, vui lòng thử lại", 1);
                }
            });
        }
        function getListStore() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllStore")',

                success: function (result) {
                    loadListStoreInDrodownList(result);
                },
                error: function (error) {
                    showMessage("Có lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }

        function loadListStoreInDrodownList(listData) {
            for (i = 0; i < listData.length; i++) {
                $("#storeIdAdd").append('<option value="' + listData[i].ID + '">' + listData[i].Name + '</option>');
            }
            $("#storeIdAdd").selectpicker('refresh');
        }
    </script>
}
