@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Báo cáo theo khuyến mãi</h3>
                <h5 class="smallDate" data-role="small-date"></h5>
            </div>
        </div>
        <hr />
        <div class="row m-t-20">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="pull-left m-t-10">Khuyến mãi:</label>
                    <div class="col-md-8">
                        <select class="selectpicker" id="promotionCombobox"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="dateTime width230 pull-right">
                    <div class="fg-line m-t-5">
                        <div id="reportrange" class="height-fix">
                            <input id="date-string" size="23" readonly class="form-control text-center pull-right">
                            <a class="myCelenderA" id=""> <i class="fa fa-calendar"></i></a>
                        </div>
                    </div>
                </div>
                <form id="form-create-session" class="form-inline" style="display:none">
                    <input type="text" id="sTime" name="startTime" placeholder="Chọn giờ bắt đầu" />
                    <input type="text" id="eTime" name="endTime" placeholder="Chọn giờ kết thúc" />
                </form>
            </div>

            <div class="col-md-12">
                <button type="submit" id="exportExcel" class="btn btn-primary btn-sm width230 pull-right">
                    <i class="fa fa-download"></i>
                    Xuất ra file Excel
                </button>
            </div>
        </div>
        <div style="padding-top:10px">
            <table id="CustomerTable" class="table table-condensed table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <label>Tên khách hàng</label>
                        </th>
                        <th>
                            <label>Số lần sử dụng thẻ</label>
                        </th>
                        <th>
                            <label>Số tiền</label>
                        </th>
                        <th>
                            <label>Số tiền giảm giá</label>
                        </th>
                        <th>
                            <label>Thanh toán</label>
                        </th>
                        <th>
                            <label>Xem các hóa đơn</label>
                        </th>
                        @*<th>
                                <label></label>
                            </th>*@
                    </tr>
                </thead>
            </table>
        </div>


    </div>
</div>
<form class="hidden" id="ExportPromotionExcel" action="@Url.Action("ExportPromotionStoreExcel", "PromotionReport")">
    <input id="startTimeOne" name="startTime" />
    <input id="endTimeOne" name="endTime" />
    <input id="promotionId" name="promoID" />
    @*<input id="storeId" name="selectedStoreId" />
    <input id="brandId" name="brandId" />*@

</form>
<script>
    $(document).on('click', '#exportExcel', function () {
        $('#startTimeOne').val($('#sTime').val());
        $('#endTimeOne').val($('#eTime').val());
        $('#promotionId').val($('#promotionCombobox').val());
        @*$('#storeId').val(@ViewBag.storeId);
        $('#brandId').val(@ViewBag.brandId);*@
        $('#ExportPromotionExcel').submit();
    });
    var once = 0;
    $(document).ready(function () {
        var startTimePromo;
        var endTimePromo;
        $('.selectpicker').selectpicker({
            size: 8,
        });

        LoadPromotionComboBox();
    });

    function cb(start, end, label) {
        //console.log(start.toISOString(), end.toISOString(), label);

        //Prepare start time and end time format
        var startTime = start.format("DD/MM/YYYY"),
            endTime = end.format("DD/MM/YYYY"),
            dateString = "(" + startTime + (startTime == endTime ? "" : " - " + endTime) + ")";

        if (label != "Tùy chọn") {
            $('#date-string').val(label);
        } else {
            $('#date-string').val(dateString);
        }

        $('#sTime').val(startTime);
        $('#eTime').val(endTime);
        //startTimePromo = start.format("MM/DD/YYYY");
        //endTimePromo = end.format("MM/DD/YYYY");
        startTimePromo = startTime;
        endTimePromo = endTime;

        //Chage date at page header
        $('[data-role=small-date]').html(dateString);
        if (once == 0) {
            InitDatatable();
            once = 1;
        }
        else {
            reDrawDatatable("#CustomerTable");
        }
        $('#date-string span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
    };

    function setupDaterangerpicker1() {
        cb(moment(), moment(), "Hôm nay");
        $('#reportrange').daterangepicker({

            startDate: moment(),
            endDate: moment(),
            minDate: $('#promotionCombobox').find(':selected').data('stime'),
            maxDate: $('#promotionCombobox').find(':selected').data('etime'),
            dateLimit: { days: 365 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            //parentEl: '.modal-body',
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Tuần này': [moment().add(0, 'week').startOf('isoweek'), moment().add(0, 'week').endOf('isoweek')],
                'Tuần trước': [moment().add(-1, 'week').startOf('isoweek'), moment().add(-1, 'week').endOf('isoweek')],
                'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-success',
            separator: ' to ',
            locale: {
                format: 'DD/MM/YYYY',
                applyLabel: 'Chọn',
                cancelLabel: 'Hủy',
                fromLabel: 'Từ',
                toLabel: 'Đến',
                customRangeLabel: 'Tùy chọn',
                daysOfWeek: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                firstDay: 1
            }
        }, cb);
    }

    function LoadPromotionComboBox() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadPromotion", "PromotionReport")',
            success: function (result) {
                if (result.promoList.length != 0) {
                    for (var i = 0; i < result.promoList.length; i++) {
                        for (var i = 0; i < result.promoList.length; i++) {
                            var date1 = convertNETDateTime(result.promoList[i].StartDate);
                            var finishDate1 = date1.getDate() + '/' + (date1.getMonth() + 1) + '/' + date1.getFullYear();
                            var date2 = convertNETDateTime(result.promoList[i].EndDate);
                            var finishDate2 = date2.getDate() + '/' + (date2.getMonth() + 1) + '/' + date2.getFullYear();
                            $('#promotionCombobox').append('<option value=' + result.promoList[i].Value + ' data-stime=' + finishDate1 + ' data-etime=' + finishDate2 + '>' + result.promoList[i].Text + '</option>');
                        }
                    }
                    $('#promotionCombobox').selectpicker('refresh');
                }
                else {
                    $('#promotionCombobox').append('<option>Không có khuyến mãi</option>');

                }
                $('#promotionCombobox').selectpicker('refresh');
                setupDaterangerpicker1();
            }

        });
    };

    function convertNETDateTime(sNetDate) {
        if (sNetDate == null) return null;
        if (sNetDate instanceof Date) return sNetDate;
        var r = /\/Date\(([0-9]+)\)\//i
        var matches = sNetDate.match(r);
        if (matches.length == 2) {
            return new Date(parseInt(matches[1]));
        }
        else {
            return sNetDate;
        }
    }

    function InitDatatable() {
        $("#CustomerTable").dataTable({
            "bFilter": true,
            "bSort": false,
            "bRetrieve": true,
            "bScrollCollapse": true,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": '@Url.Action("ListCustomerInPromo")',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "promoID", "value": $('#promotionCombobox').val() == "Không có khuyến mãi" ? -1 : $('#promotionCombobox').val() });
                aoData.push({ "name": "startTime", "value": startTimePromo }),
                aoData.push({ "name": "endTime", "value": endTimePromo })
            },
            "bProcessing": true,
            "bPaginate": true,
            "aLengthMenu": [10, 25, 50, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sSearchPlaceholder": "Tên khách hàng",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "columns": [
                { "data": "CustomerName" },
                { "data": "OrderQty" },
                { "data": "SumAmount" },
                { "data": "SumDiscount" },
                { "data": "SumFinal" },
                {
                    "data": function (data) {
                        var detail = "<a title='Chi tiết'class='btn btn-sm btn-success' href='@Url.Action("CustomerOrder", "PromotionReport")?customerId=" + data.Id + "&promotionId=" + data.PromoId + "&sTime=" + startTimePromo + "&eTime=" + endTimePromo + "' target='_blank'><i class='glyphicon glyphicon-eye-open'></i></a>";
                        return detail;
                    }
                },
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4, 5],
                    "bSortable": false,
                    "sClass": "text-center"
                }@*,
                {
                    "aTargets": [5],
                    "mRender": function (data, type, row) {
                        var detail = "<a title='Chi tiết'class='btn btn-sm btn-success' href='@Url.Action("CustomerOrder", "PromotionReport")?customerId=" + row[6] + "&promotionId=" + row[5] + "&sTime=" + startTimePromo + "&eTime=" + endTimePromo + "' target='_blank'><i class='glyphicon glyphicon-eye-open'></i></a>";
                        return detail;
                    },
                    "bSortable": false,
                    "sClass": "text-center",
                }*@
            ],

            "bAutoWidth": false
        }).fnSetFilteringDelay(delaySearch);
    };
    $('#promotionCombobox').on('change', function () {
        startTime = $('#sTime').val();
        endTime = $('#sTime').val();
        //setupDaterangerpicker1();
        reDrawDatatable("#CustomerTable");
    });
    function reDrawDatatable(id) {
        $(id).dataTable()._fnPageChange(0);
        $(id).dataTable()._fnAjaxUpdate();
    }
</script>
