@model ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}
<form role="form" method="post">

    <div class="block-header">
        <h2>Đổi mật khẩu</h2>

        <ul class="actions">
            <li class="m-r-10">
                <a href="@this.Url.Action("Index","Default", new { area = "Admin"})" class="btn btn-default">Quay lại</a>
            </li>
            <li>
                <button type="submit" class="btn btn-primary" id="btn-submit-product">Hoàn tất</button>
                <button type="submit" class="btn btn-primary" style="display: none"></button>
            </li>
        </ul>
    </div>

    @if (this.ViewData.ModelState.Any(q => q.Value.Errors.Count > 0))
    {
        <div class="card">
            <div class="card-body card-padding text-danger">
                @this.Html.ValidationSummary()
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h2>Thông tin chính</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="form-group">
                        <label for="inputTitle" class="control-label">Mật khẩu cũ</label>
                        <div class="fg-line">
                            @Html.EditorFor(model => model.OldPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTitle" class="control-label">Mật khẩu mới</label>
                        <div class="fg-line">
                            @Html.EditorFor(model => model.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTitle" class="control-label">Nhập lại mật khẩu</label>
                        <div class="fg-line">
                            @Html.EditorFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

