@model HmsService.ViewModels.InventoryReceiptEditViewModel
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var total = 0;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Chi tiết đơn hàng
                </h3>
                @if (Model.ReceiptType == (int)ReceiptType.InInventory)
                {
                    <h5 class="info smallDate">(Nhập kho)</h5>
                }
                else if (Model.ReceiptType == (int)ReceiptType.OutInventory || Model.ReceiptType == (int)ReceiptType.DraftInventory)
                {
                    <h5 class="info smallDate">(Xuất kho)</h5>
                }
                else if (Model.ReceiptType == (int)ReceiptType.OutChangeInventory)
                {
                    <h5 class="info smallDate">(Chuyển kho đi)</h5>
                }
                else if (Model.ReceiptType == (int)ReceiptType.InChangeInventory)
                {
                    <h5 class="info smallDate">(Chuyển kho đến)</h5>
                }
                else
                {
                    <h5 class="info smallDate">(Duyệt kho)</h5>
                }
            </div>
            <div class="col-md-6 text-right">
                @if (Model.ReceiptType == (int)ReceiptType.InInventory)
                {
                    <a href="@Url.Action("ListImportInventory","ProductInventory")" class="btn btn-success">Quay lại</a>
                }
                else if (Model.ReceiptType == (int)ReceiptType.OutChangeInventory)
                {
                    <a href="@Url.Action("ListTransferInventory","ProductInventory")" class="btn btn-success">Quay lại</a>
                }
                else if (Model.ReceiptType == (int)ReceiptType.InChangeInventory)
                {
                    <a href="@Url.Action("ListGetTransferInventory","ProductInventory")" class="btn btn-success">Quay lại</a>

                }
                else
                {
                    <a href="@Url.Action("ListExportInventory","ProductInventory")" class="btn btn-success">Quay lại</a>
                }
                @if (Model.Status == 0 && Model.ReceiptType != 4 && Model.ReceiptType != 2 && Model.CreateDate?.ToString("dd/MM/yyyy") == Utils.GetCurrentDateTime().ToString("dd/MM/yyyy"))
                {
                    <a class="btn btn-danger btn-sm pull-right InventoryStatusBtn" onclick="CancelReceipt(@Model.ReceiptID)">
                        Hủy
                    </a>
                    <a class="btn btn-primary btn-sm pull-right InventoryStatusBtn" onclick="AcceptReceipt(@Model.ReceiptID,@Model.ReceiptType)">
                        Duyệt
                    </a>
                }
                else if (Model.Status == 0 && Model.ReceiptType == 2 && Model.CreateDate?.ToString("dd/MM/yyyy") == Utils.GetCurrentDateTime().ToString("dd/MM/yyyy"))
                {
                    <a class="btn btn-danger btn-sm pull-right InventoryStatusBtn" onclick="CancelReceipt(@Model.ReceiptID)">
                        Hủy
                    </a>
                }
                else if (Model.Status == 1 && Model.CreateDate?.ToString("dd/MM/yyyy") == Utils.GetCurrentDateTime().ToString("dd/MM/yyyy"))
                {
                    <a class="btn btn-danger btn-sm pull-right InventoryStatusBtn" onclick="CancelReceipt(@Model.ReceiptID)">
                        Hủy
                    </a>
                }
                else if (Model.Status == 1 && Model.ReceiptType == 2 && Model.CreateDate?.ToString("dd/MM/yyyy") == Utils.GetCurrentDateTime().ToString("dd/MM/yyyy"))
                {
                    <a class="btn btn-info btn-sm pull-right InventoryStatusBtn" onclick="RequestCancel(@Model.ReceiptID)">
                        Yêu cầu hủy
                    </a>
                }
                else if (Model.Status == 6 && Model.ReceiptType == 2 && Model.CreateDate?.ToString("dd/MM/yyyy") == Utils.GetCurrentDateTime().ToString("dd/MM/yyyy"))
                {
                    <a class="btn btn-primary btn-sm pull-right InventoryStatusBtn" onclick="CancelReceipt(@Model.ReceiptID)">
                        Đồng ý hủy
                    </a>
                }

            </div>
        </div>
        <hr />
    </div>
    <div class="card-padding">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="form-group" style="padding-left: 20px">
                    <label> Tên đơn hàng: @Model.Name</label>
                </div>
                <div class="form-group" style="padding-left: 20px">
                    <label>  Mã đơn hàng: @Model.InvoiceNumber</label>
                </div>
                <div class="form-group" style="padding-left: 20px">
                    <label>  Người phụ trách: @Model.Creator</label>
                </div>
                <div class="form-group" style="padding-left: 20px">
                    <label> Trạng thái:</label>
                    @if (Model.Status == 0)
                    {
                        <span class="label myInventoryReceiptItem myStatus not-approved meStatus">Chưa duyệt</span>
                    }
                    else if (Model.Status == 1)
                    {
                        <span class='label myInventoryReceiptItem approved meStatus'>Đã duyệt</span>
                    }
                    else if (Model.Status == 2)
                    {
                        <span class='label myInventoryReceiptItem canceled meStatus'>Đã hủy</span>
                    }
                    else if (Model.Status == 3)
                    {
                        <span class='label myInventoryReceiptItem rejected meStatus'>Đã từ chối</span>
                    }
                    else if (Model.Status == 4)
                    {
                        <span class='label myInventoryReceiptItem closed meStatus'>Đã đóng</span>
                    }
                    else if (Model.Status == 5)
                    {
                        <span class='label myInventoryReceiptItem WaitRequestCancel meStatus'>Chờ xác nhận yêu cầu hủy</span>
                    }
                    else if (Model.Status == 6)
                    {
                        <span class='label myInventoryReceiptItem canceled meStatus'>@(Model.InStoreName) yêu cầu hủy </span>
                    }
                </div>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 ">
                @if (Model.ReceiptType == 0)
                {
                    <div class="form-group">
                        <label>  Nhà cung cấp: @Model.Provider.ProviderName</label>
                    </div>
                }
                <div class="form-group">
                    <label> Ngày tạo: @Model.CreateDate</label>
                </div>
                <div class="form-group">
                    <label> Ngày chuyển hàng: @Model.ChangeDate</label>
                </div>
                @if (Model.ReceiptType == 2)
                {
                    <div class="form-group">
                        <label> Cửa hàng nhận: @Model.InStoreName</label>
                    </div>
                }
            </div>
        </div>
        <table id="inventoryReceiptItemTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><label>Tên hàng</label></th>
                    <th><label>Đơn vị</label></th>
                    <th><label>Số lượng</label></th>
                    <th><label>Đơn giá</label></th>
                    <th><label>Thành tiền</label></th>
                    <th><label>Ngày hết hạn</label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InventoryReceiptItem)
                {
                    total = total + ((int)item.Quantity * (int)item.Price);
                    <tr>
                        <td>@item.ProductItem.ItemName</td>
                        <td class="text-center">@item.ProductItem.Unit</td>
                        <td>@item.Quantity</td>
                        <td>@string.Format(info, "{0:0,0}", @item.Price)</td>
                        <td>@string.Format(info, "{0:0,0}", ((int)item.Quantity * (int)item.Price))</td>
                        <td>@item.DateExpired</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:left">Tổng cộng</td>
                    <td id="totalPrice" style="text-align:right">@string.Format(info, "{0:0,0}", @total)</td>
                    <td style="text-align:left">VNĐ</td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#inventoryReceiptItemTable').dataTable(
            {
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trong tổng số _TOTAL_",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " ",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }

                },
                "aoColumnDefs": [
                    {
                        "aTargets": [ 2],
                        "sClass": "text-center"
                    },
                    {
                        "aTargets": [3,4],
                        "sClass": "text-right"
                    },
                ],
            }
            ).fnSetFilteringDelay(delaySearch);;
    });
    function RequestCancel(id) {
        ShowConfirm("Yêu cầu hủy đơn hàng này?", function () {
            $.ajax({
                "type": "post",
                "url": "@(Url.Action("InStoreCancelRequest", "ProductInventory"))",
                "data": {
                    id: parseInt(id)
                },
                success: function (result) {
                    ShowAlert("Yêu cầu hủy thành công!", 2);
                    setTimeout(function () {
                        location.reload();
                        //location.href = "(Url.Action("InventoryReceiptItem", "ProductInventory"))";
                    }, 2000);
                }
            });
        });
    }
    function AcceptReceipt(id, receiptType) {
        ShowConfirm("Xác nhận duyệt đơn hàng này?", function () {
            $.ajax({
                "type": "post",
                "url": "@(Url.Action("AcceptReceipt","ProductInventory"))",
                "data": {
                    id: parseInt(id),
                    receiptType: receiptType,
                    otherStoreId: parseInt(id)
                },
                success: function (result) {
                    ShowAlert("Duyệt đơn hàng thành công!", 2);
                    setTimeout(function () {
                        location.reload();
                        //location.href = "(Url.Action("InventoryReceiptItem", "ProductInventory"))";
                    }, 2000);
                }
            });
        });
    }
    function CancelReceipt(id) {
        ShowConfirm("Xác nhận hủy đơn hàng này?", function () {
            $.ajax({
                "type": "post",
                "url": "@(Url.Action("CancelReceipt","ProductInventory"))",
                "data": {
                    id: parseInt(id)
                },
                success: function (result) {
                    ShowMessage("Hủy đơn hàng thành công!", 2);
                    setTimeout(function () {
                        location.reload();
                        //location.href = "(Url.Action("InventoryReceiptItem", "ProductInventory"))";
                    }, 2000);
                }
            });
        });
    }

    var formatVND = function (x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    };
</script>
